.editProfileStyle {
  background-color: var(--page-background-color1);
  color: var(--text-color1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 3px;
}

.editProfileStyle .card{
  border-radius: 40px;
  background-color: var(--page-background-color2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.editProfileStyle .card .row {
  padding-top: 20px;
}

.editProfileStyle .card .form-label {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.editProfileStyle .card .form-control {
  background-color: var(--page-background-color1);
  color: var(--text-color2);
  border-color: black;
  font-size: 18px;
}

.datePickerStyle {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color2);
  background-color: var(--page-background-color1);
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.datePickerStyle:focus {
  color: var(--text-color2);
  background-color: var(--page-background-color1);
  border-color: var(--text-color2);
  outline: 0;
}

.react-datepicker__header {
  background-color: var(--page-background-color2) !important;
  border-bottom: solid black 1px !important;
}

.react-datepicker {
  background-color: var(--page-background-color1);
  border: solid black 1px !important;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.react-datepicker__month-container {
  background-color: var(--page-background-color1);
  border: solid black 1px !important;
  border-bottom: none !important;
 }

.react-datepicker__time-container {
  background-color: var(--page-background-color1);
  border: solid black 1px !important;
}

.react-datepicker__day {
  color: var(--text-color1);
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  background-color: var(--page-background-color1);
}

.react-datepicker__time-list-item {
  color:var(--text-color1);
}

.react-datepicker__month::-webkit-scrollbar,
.react-datepicker__time-list::-webkit-scrollbar {
  width: 14px;
  background-color: dimgrey;
}

.react-datepicker__month::-webkit-scrollbar-thumb,
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background-color: var(--button-color2);
  border-radius: 10px;
  border-color: black;
}

.editProfileStyle button[type="submit"] {
  width: 200px !important;
  height: 50px !important;
  margin-right: 40px;
  margin-bottom: 20px;
  background-color: var(--button-color2);
  border-color: black;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
}

.editProfileStyle button.isSubmitting {
  background-color: var(--button-color1);
  opacity: 100;
}

.editProfileStyle button[type="submit"]:active {
  width: 200px;
  height: 50px;
  background-color: var(--button-color-pressed);
  border-color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  color: black;
}