.editProfile {
  background-color: var(--page-background-color1);
  color: var(--text-color1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 3px;
}

.editProfile .card{
  border-radius: 40px;
  background-color: var(--page-background-color2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.editProfile .card .row {
  padding-top: 20px;
}

.editProfile .card .form-label {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.editProfile .card .form-control {
  background-color: var(--page-background-color1);
  color: var(--text-color2);
  border-color: black;
  font-size: 18px;
}

/*.editProfile .multiSelect {*/
/*  border-color: black;*/
/*}*/

.editProfile button[type="submit"] {
  width: 200px;
  height: 50px;
  background-color: var(--button-color2);
  border-color: black;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

.editProfile button[type="submit"]:active {
  width: 200px;
  height: 50px;
  background-color: var(--button-color-pressed);
  border-color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  color: black;
}