.signX {
  background-color: var(--page-background-color2);
  color: white;
  min-height: 90vh;
}

.signX .card {
  color: black;
  border-radius: 30px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.signX .alert {
  background-color: var(--page-background-color1);
  color: var(--text-color2);
  margin-top: 40px;
  border-radius: 20px;
  text-align: center; /* add this line */
}

.signX .btn {
  width: 100px;
  height: 35px;
  align-items: center;
  background-color: var(--button-color1);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}


.signX .btn:hover {
  background-color: var(--button-color2);
}

.signX .btn:active {
  background-color: var(--button-color-pressed) !important;
  color: black !important;
  font-weight: bolder;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}