.editProfileButton {
  background-color: #d73f00;
  color: #f5f4f4;
  font-weight: bold;
}
.signInLandingBackground {
  background-color: #404f3c;
  color: #fcf80a;
}
.card{
  background-color: #256440;
}