:root {
  --card-background-color: rgb(37, 100, 64);
  --card-text-color1: #fcf80a;
  --card-text-color2: #00e1ff;
}

.artistCard .card {
  width: 300px !important;
  margin: 0;
  border-radius: 50px !important;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-color: var(--card-background-color);
}

.artistCard .card-title {
  color: var(--card-text-color1);
}

.artistCard .image-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.artistCard .label {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
}

.artistCard .content {
  display: flex;
  justify-content: flex-end;
}

.artistCard .list-group-item {
  margin: 0;
  height: 50px;
}

/*Alternating coloring of listgroup items*/
.artistCard .list-group-item:nth-child(odd) {
  background-color: rgba(255,255,255, 0.1);
  color: var(--card-text-color2);
}
/*Alternating coloring of listgroup items*/
.artistCard .list-group-item:nth-child(even) {
  color: var(--card-text-color1);
  background-color: rgba(255,255,255, 0.05);
}

.artistCard .customHeader {
  height: 100px;
}

.artistCard .genres .instruments{
  height: 60px;
}

.artistCard .skill-level {
  height: 30px;
}

.artistCard .bio {
  height: 155px;
  margin: 0;
}