.gigCard .card {
  width: 600px;
  margin: 0;
  border-radius: 50px !important;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-color: var(--page-background-color2);
}

.gigCard .card-title {
  color: var(--text-color1);
}

.gigCard .image-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 20px;
}

.gigCard .label {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
}

.gigCard .content {
  display: flex;
  margin-left: 15px;
}

.gigCard .list-group-item {
  color: var(--text-color1);
  margin: 0;
  height: 50px;
  opacity: 0.9;
}

/*Alternating coloring of listgroup items*/
.gigCard .list-group-item:nth-child(odd) {
  background-color: rgba(255,255,255, 0.1);
  color: var(--text-color2);
}
/*Alternating coloring of listgroup items*/
.gigCard .list-group-item:nth-child(even) {
  color: var(--text-color1);
  background-color: rgba(255,255,255, 0.05);
}

.gigCard .about {
  height: 100px;
  margin: 0;
}

/*JOIN/LEAVE BUTTON*/
.gigCard .joinButtonSpan > .btn {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  width: 80px;
}

.gigCard .joinButtonSpan > .btn:active {
  background-color: var(--button-color-pressed);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.gigCard .joinButtonSpan > .joinButton {
  background-color: var(--button-color1);
}

.gigCard .joinButtonSpan > .leaveButton {
  background-color: var(--button-color2);
}

