.navBarStyle .navbar {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px

}

.navBarStyle .navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 30px;
  background-color: var(--button-color3);
  color: black !important;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  padding: 6px 12px;
  margin-left: 15px;
  margin-top: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.navBarStyle .navbar-button:hover {
  background-color: var(--button-color2);
  color: white;
}

/* For when button is being pressed */
.navBarStyle .navbar-button:active {
  background-color: var(--button-color-pressed);
  color: black !important;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* For when button page is active page */
.navBarStyle .navbar-button.activeBtn {
  background-color: var(--button-color2);
  color: black !important;
  font-weight: bolder;
}